.faq{
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    
    margin-top: 3%;
    margin-bottom: 2%;
}

.about{
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

    margin-top: 2%;
}

.news{
    margin-bottom: 3%;
}

.contact{
    margin-top: 2%;
    margin-bottom: 2%;
    border: 30px solid white;
}

.products{
    margin-top: 2%;
    margin-bottom: 2%;
}

.block-space{
    margin-top: 5%;
    margin-bottom: 5%;
    background-color: aqua;
}