.faq{
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.about{
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.block-space{
    margin-top: 5%;
    margin-bottom: 5%;
    background-color: aqua;
}