.footer-main{
    text-align: center;
    background-color: pink;
}

.social-icones{
    padding-left: 12px;
    padding-bottom: 12px;
}

a:visited {
    color: black;
    background-color: transparent;
    text-decoration: none;
}

a:active {
    color: grey;
    background-color: transparent;
    text-decoration: underline;
}

a:link {
    color: black;
    background-color: transparent;
    text-decoration: underline;
}

@media (min-width: 600px) {
    .first-section{
        margin-bottom: 1%; 
        margin-top: 1%; 

        display: flex;
        justify-content: left;
        align-items: flex-start;
    }
    .second-section{
        margin-bottom: 1%; 
        margin-top: 1%;    
    }
    .third-section{
        margin-bottom: 1%; 
        margin-top: 1%; 

        display: flex;
        justify-content: right;
        align-items: flex-end;
    }
}

@media (max-width: 600px) {
    .first-section{
        margin-bottom: 2%; 
        margin-top: 2%; 
    }
    .second-section{
        margin-bottom: 2%; 
        margin-top: 2%;    
    }
    .third-section{
        margin-bottom: 2%; 
        margin-top: 2%; 
    }
}