.image-list{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.list-size{
    width: 95%;
}
  
.footer{
    background-color: #ffc0cb;
    margin-top: 2%;
    border: 20px solid #ffc0cb;
}
  
.body{
    margin-top: 2%;
}