.header-main{
    text-align: center;
    /*border: 3px solid pink;*/
}

.header-img{
    width: 200px;
}

.bottom-alignment{
    display: flex;
    align-items: flex-end;
}

.left-space{
    margin-left: 8%;
    margin-top: 20%;
}

a:link { text-decoration: none; }