.alignment{
    margin-top: 2%;
}

.emptyCart{
    margin-bottom: 18px;
    height: 66vh;
}

.subFooter{
    position:absolute;
    right:0px;
    bottom:0px;
    left:0px;
}

.image{
    display: flex;
    justify-content: center;
    align-items: center;

    margin-bottom: 1%;
    margin-top: 1%;
}

.description{
    text-align: left;
}

@media (min-width: 600px) {
    .totalPrice{
        display: flex;
        justify-content: right;
        margin-right: 13%;
    }

    .proceedButton{
        display: flex;
        justify-content: right;
        margin-right: 11%;
    }

    .backButton{
        display: flex;
        justify-content: left;
        margin-left: 6%;
    }
}

@media (max-width: 600px) {
    .totalPrice{
        display: flex;
        justify-content: right;
        margin-right: 4%;
    }

    .proceedButton{
        display: flex;
        justify-content: right;
        margin-right: 4%;
    }

    .backButton{
        display: flex;
        justify-content: left;
        margin-left: 4%;
    }
}

.boxStepper{
    margin-bottom: 1%;

}