.App {
  text-align: center;
  font-family: Snell Roundhan;
  position: relative;
}

.header{
  background-color: white;
  margin-bottom: 2%;
  margin-top: 1%;
}

.footer{
  background-color: #ffc0cb;
  margin-top: 2%;
  border: 20px solid #ffc0cb;
}

.body{
  margin-top: 2%;
}