.App {
  text-align: center;
  font-family: Snell Roundhan;
  position: relative;
}

.header{
  background-color: white;
  position: sticky;
  top: 0;
  z-index: 99999;
  transition: top 0.4s;

  margin-bottom: 1%;
  margin-top: 1%;
}

.footer{
  background-color: #ffc0cb;
}